<section class="dashboard">
	<header class="summary">
		<h2>Resumo</h2>
		<div class="cards">
			<mat-card appearance="outlined" class="income">
				<mat-card-subtitle>Receitas</mat-card-subtitle>
				<mat-card-title>{{ income() | currency:'BRL' }}</mat-card-title>
			</mat-card>
			<mat-card appearance="outlined" class="expense">
				<mat-card-subtitle>Despesas</mat-card-subtitle>
				<mat-card-title>{{ expense() | currency:'BRL' }}</mat-card-title>
			</mat-card>
			<mat-card appearance="outlined" class="balance">
				<mat-card-subtitle>Saldo</mat-card-subtitle>
				<mat-card-title>{{ balance() | currency:'BRL' }}</mat-card-title>
			</mat-card>
		</div>
		<a mat-raised-button color="primary" routerLink="/lancamentos">+ Adicionar lançamento</a>
	</header>

	<section class="recent" *ngIf="txs().length; else empty">
		<h3>Últimos lançamentos</h3>
			<mat-list>
				<mat-list-item *ngFor="let t of txs() | slice:0:10">
					<div matListItemTitle>{{ t.description }}</div>
					<div matListItemLine>{{ t.date | date:'dd/MM/yyyy' }}</div>
					<div matListItemMeta [ngClass]="{ expense: t.type === 'expense'}">
						{{ (t.type==='expense' ? -t.amount : t.amount) | currency:'BRL' }}
					</div>
				</mat-list-item>
			</mat-list>
	</section>

	<ng-template #empty>
		<p>Nenhum lançamento ainda. Comece adicionando o primeiro.</p>
	</ng-template>

	<app-dashboard-charts *ngIf="isBrowser() && txs().length" [txs]="txs()" />
</section>
